<h1> Articles </h1>
<h2> <%= link_to 'Tags', tags_path %> </h2> 
<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <h2> <%= link_to article.title, article_path(article), class: 'article-title'%> </h2>
    </li>
    <% end %>
</ul>
<%= link_to 'Create A New Article', new_article_path, class: 'new-article-link' %>
